Source: keepod-installer
Section: utils
Priority: optional
Maintainer: Norman Jin <norman@keepod.com>
Uploaders: Norman Jin <norman@keepod.com>
Build-Depends: debhelper (>= 7), libqt4-dev, syslinux
Standards-Version: 1.0.0 
Vcs-Git: https://github.com/Keepod/keepod-installer.git 
Vcs-Browser: https://github.com/Keepod/keepod-installer.git
Homepage: http://www.keepod.org

Package: keepod-installer
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, mtools, udev, libicu48
Recommends: keepod-installer-translations
Description: installer of Keepod OS to a USB drive
 Keepod-installer allows for the installation of Keepod OS to a USB drive.

Package: keepod-installer-translations
Architecture: all
Depends: ${misc:Depends}
Recommends: keepod-installer
Description: translations for the keepod-installer distribution
 keepod-installer is an installer of Keepod OS to USB dries.
 .
 This package contains translation files for keepod-installer.
