#!/usr/bin/make -f

%:
	dh $@

build: build-stamp
build-stamp:
	qmake-qt4 "DEFINES += NOSTATIC" "QMAKE_CXXFLAGS_RELEASE += $(CFLAGS)" "RESOURCES += keepodinstaller.qrc"
	make
	touch $@

clean:
	dh clean
	rm -f *.qm

install: build
	dh install -pkeepod-installer

# Build architecture-independent files here.
binary-indep:
	cp unetbootin.pro unetbootin-pro.bak
	sed -i '/^RESOURCES/d' unetbootin.pro
	lrelease-qt4 unetbootin.pro	
	dh_install --sourcedir=$(CURDIR) -pkeepod-installer-translations
	mv unetbootin-pro.bak unetbootin.pro

# Build architecture-dependent files here.
binary-arch: install
	dh binary-arch

binary: binary-indep binary-arch
.PHONY: build binary-indep binary-arch install
